<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Hi, <%= @user.name %>, 這是你繳交的作業</h3>
  </div>
  <div class="panel-body">
	<h3> Title </h3>
	<%= @answer.title %>

	<h3> Description </h3>
	<%= @answer.description.html_safe %>

    <h3> Deadline :  <%= get_time(@homework.deadline, Time.now.to_datetime) %> </h3> 
  </div>
</div>


