<h1> Sprout LMS 帳號認證 </h1>
<br>
<h2> 帳號認證步驟： </h2>
(註：目前只有提供給資訊之芽語法班的學員帳號喔) <br>
<h5> 3. 登入Sprout LMS，您將會看到輸入認證碼頁面 </h5>
<h5> &nbsp;&nbsp; 帳號 : <font color="red"> <%= @email %> </font> </h5>
<h5> &nbsp;&nbsp; 密碼 : <font color="red"> <%= @password %> </font> </h5>
<h5> 4. 輸入以下認證碼後，您將可以使用這個服務 </h5>
<h5> &nbsp;&nbsp; 認證碼 : <font color="red"> <%= @confirm_code %> </font> </h5>
