<div class="dist">
  <h1> 帳號認證 </h1>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/2irdYZ7BLYQ0YR" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/linzmin1/sprout-lms-account-confirmation" title="Sprout LMS Account confirmation" target="_blank"> </a></strong> </div>
</div>

<div class="dist">
  <h1> 如何更改密碼 </h1>
    <img src="/edit_password.png" class="img-responsive" alt="Cinque Terre" width="100%">
</div>

<div class="dist">
<h1> 如何繳交作業 </h1>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/as7ISSgnKuvhDL" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  </div>
</div>
