<div class="dist">
  <h1>新增帳號</h1>
  <hr> 
  <h3> 輸入格式: </h3>
  <p>
    （學員）編號,姓名,信箱,班級
  </p>
  <br>
  <p>
    * 逗號與字中間請不要打空白鍵！
  </p>
  <p>
    * 編號與姓名請勿省略（講師編號可隨意輸入，不要與已有編號重複即可）
  </p>
  <p>
    * 地區會依照編號開頭自動區分喔 (1:北區、2:竹區)
  </p>
  <hr>
  <h3> 輸入範例</h3>
  <p>12345,大笨蛋,haha@gmail.com,PyLang</p>
  <p>9876,小笨蛋,gogo@gmail.com,CLang</p>
  <hr>
  <%= simple_form_for @topic, :url => create_users_path, :method => :post do |f| %>
    <%= f.input :confirm_code, input_html: { class: "form-control", rows: 20 }, label: false, as: :text %>
    <%= f.submit "新增", class: "btn btn-primary", data: { disable_with: "新增中..." } %> 
  <% end %> 
</div>
