<h1> 繳交的作業 
</h1>
<hr>
<h3> Title </h3>
<%= @answer.title %>

<h3> Description </h3>
<%= @answer.description.html_safe %>

<% if @answer.attachment.url != nil %>
  <h3> Attachment </h3>
  <%= link_to File.basename(@answer.attachment.path), @answer.attachment.url, target: "_blank" %>
<% end %>

<h3> Submission Time :  <%= submit_time(@homework.deadline, @answer.updated_at) %> </h3> 
