<h1> 繳交的作業 
</h1>
<hr>
<h4> 標題</h4>
<%= @answer.title %>

<br><br>

<h4> 敘述 </h4>
<%= @answer.description.html_safe %>

<br>

<% if @answer.attachment.url != nil %>
  <h4> 附加檔案</h4>
  <%= link_to File.basename(@answer.attachment.path), @answer.attachment.url, target: "_blank" %>

<br><br>

<% end %>


<h4>繳交時間： <%= submit_time(@homework.deadline, @answer.updated_at) %> </h4> 
