<div class="dist">
  <h1> CLang Homework </h1>
  <% if is_admin?(current_user) %>
    <%= link_to("New Homework", new_homework_path, class: "btn btn-primary pull-right") %>
  <% end %>
  <%= render partial: 'homework_list', locals: {homeworks: @clang_homeworks} %>
</div>

<div class="dist">
  <h1> PyLang Homework </h1>
  <%= render partial: 'homework_list', locals: {homeworks: @pylang_homeworks} %>
</div>
