/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/char_counter.min.css
 *= require plugins/code_view.min.css
 *= require plugins/colors.min.css
 *= require plugins/emoticons.min.css
 *= require plugins/file.min.css
 *= require plugins/fullscreen.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/quick_insert.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap"; 
 
body, html {
    height: 100%;
    background-image: url("/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
body {
    background: rgb(228, 229, 233);
}
*/
h1, h2, h3, h4, h5, th, tr {
    color: black;
}

div.dist {
    background: rgba(250, 250, 250, 0.85);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
}

.navbar {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.9);
}

.btn {
    margin: 1px;
    border-radius: 0;
    opacity: 0.9;
}

.table > tbody > tr > td {
    vertical-align:middle;
}

