<div class="form-group">
  <h4> Title </h4>
  <%= f.input :title, input_html: { class: "form-control"}, label: false %>
  
  <br>
  
  <h4> Description </h4>
  <%= render partial: 'common/editor', locals: { f: f } %>
  
  <h4> Deadline </h4>
  <%= f.input :deadline, :class => 'datepicker' %>

</div>
<%= f.submit "Submit", class: "btn btn-primary", data: {diable_with: "Submitting..."} %> 
