<div class="dist">
  <h1>請選擇班級</h1>
  <br>
  <br>
  <br>
  <table width="100%">
    <tr align="middle">
      <td><%= link_to"PyLang", all_history_path("PyLang"), class: "btn btn-success btn-lg", method: :get %></td>
      <td><%= link_to"CLang", all_history_path("CLang"), class: "btn btn-warning btn-lg", method: :get %></td>
    </tr>
  </table>
</div>

